/*------------------------------------------------------------------
[Table of contents]
1 — Variables
2 — Theme
3 — Spacing
4 — Components
    4.1 — Form
    4.2 — Card
    4.3 — Buttons
    4.4 — Background
    4.5 — Alert
    4.6 — Dropdown
    4.7 — Accordion
    4.8 — Mask
    4.9 — Dropzone
    4.10 — Loader
    4.11 — Scroll
    4.12 — Cursor
    4.13 — Switch
    4.14 — Cookie
5 — Modals
6 — Global
    6.1 — General
    6.2 — Section
7 — Layout
    7.1 — Header
    7.2 — Mobil menu
    7.3 — Page header
    7.4 — Main
    7.5 — Footer
8 — Pages
    8.1 — Affiliate
    8.2 — Auth
    8.3 — Blog
        8.3.1 — Blog inner
    8.4 — Contact
    8.5 — Custom
    8.6 — File
    8.7 — Home
    8.8 — Install
    8.9 — Notice
    8.10 — Pay
    8.11 — Pricing
-------------------------------------------------------------------*/

// Abstracts
@import "variables";
@import "mixins";

// Theme
@import "theme";

// Layout & Components
@import "spacing";
@import "components";
@import "modals";
@import "global";
@import "layout";

// Pages
@import "pages";
