/*------------------------------------------------------------------
[3 - Components]
*/
/*------------------------------------------------------------------
[3.1 - Form]
*/
.form-label {
    color: var(--color-2);
    font-weight: 600;

    .required {
        color: var(--color-1);
    }
}

.form-select, 
.form-control {
    border-radius: 1rem;
    cursor: pointer;
    border-color: var(--color-3);
    color: var(--color-2);

    &:focus {
        color: var(--color-2);
        box-shadow: none;
        border-color: rgba(var(--color-1-rgb),.75);
    }

    &:disabled {
        background-color: var(--color-3);
        cursor: not-allowed;
    }

    &::placeholder {
        color: rgba(var(--color-2-rgb),.75);
    }

    &.missing {
        border-color: var(--color-5) !important;
    }
}

.form-select {
    background-image: url("../image/chevron.svg");
    height: 3.250rem;
    padding: 0 3.5rem 0 1.25rem;
    line-height: 3;
}

.form-control {
    &:not(textarea):not(input[type=file]):not(.stripe-input):not(.receiver-search-input) {
        padding: 0 1.25rem;
        height: 3.250rem;
        line-height: 3;
    }

    &:not(input) {
        padding: 1rem 1.25rem;
    }
}

input[type=file] {
    padding: 0 1.25rem 1.25rem .75rem;
    height: 3.250rem;
    line-height: 3;
}

input[type=number] {
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
    }
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
    transition: background-color 5000s ease-in-out 0s;
}

.form-check {
    .form-check-input {
        filter: none !important;
        width: 1.5em;
        height: 1.5em;
        border: 1px solid rgba(var(--color-2-rgb),.1);
        border-radius: .5rem;
        margin-top: 0;
        cursor: pointer;

        &:focus {
            box-shadow: none;
        }

        &:checked {
            background-color: var(--color-1) !important;
        }
    }

    .form-check-label {
        color: var(--color-2);
        font-weight: 600;
        cursor: pointer;
    }
}

.form-switch {
    .form-check-input {
        filter: none !important;
        width: 3.5em;
        height: 2em;
        border: 1px solid rgba(var(--color-2-rgb),.1);
        border-radius: .5rem;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Crect x='-3' y='-3' width='6' height='6' rx='1' fill='rgb(109 40 217)' fill-opacity='.3' /%3E%3C/svg%3E");
        z-index: 1;

        &:checked {
            background-color: rgba(var(--color-1-rgb),.02);
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Crect x='-3' y='-3' width='6' height='6' rx='1' fill='rgb(109 40 217)' /%3E%3C/svg%3E");
        }

        &:focus {
            box-shadow: none;
            border-color: rgba(var(--color-2-rgb),.1) !important;
        }
    }

    .form-check-label {
        color: var(--color-2);
        font-weight: 600;
        cursor: pointer;
    }

    span {
        font-size: 1.25rem;
        color: var(--color-2);
        cursor: pointer;
    }
}

.input-icon {
    position: relative;

    > input,
    > select,
    > textarea {
        padding-left: 3rem !important;

        &:focus + i {
            color: var(--color-1);
        }
    }

    > i {
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        color: rgba(var(--color-1-rgb),.25);
        @include transition(color .5s ease);
    }
}

.error {
    color: var(--color-2);
    font-size: .875rem;
}

.table-select {
    min-width: 10rem;
}

.form-help {
    color: rgba(var(--color-1-rgb),.5);
    cursor: pointer;

    &:hover,
    &[aria-describedby] {
        color: var(--color-1);
    }
}

/*------------------------------------------------------------------
[3.2 - Card]
*/
.card {
    border-radius: 2rem;
    border: 0;
    box-shadow: 0 .05rem .10rem rgba(0,0,0,.05);

    &-body {
        padding: 2rem;
    }

    &-heading {
        position: relative;
        color: var(--color-2);
        font-size: 1.5rem;
        font-weight: 700;

        &:not(.collapsed)::after {
            content: "";
            position: absolute;
            width: 2rem;
            height: .25rem;
            left: 0;
            bottom: 0;
            background: var(--color-1);
            border-radius: 1rem;
        }
    }
}

/*------------------------------------------------------------------
[3.3 - Buttons]
*/
.btn {
    &-close:focus {
        box-shadow: none !important;
    }

    > i {
        pointer-events: none;
    }
}

.btn-color-1 {
    @include base-button (white, var(--color-1), var(--color-1));
    @include transition(all .5s ease);

    &:hover {
        background: var(--color-2) !important;
        border-color: var(--color-2) !important;
    }
}

.btn-color-2 {
    @include base-button (white, var(--color-2), var(--color-2));
    @include transition(all .5s ease);

    &:hover {
        background: var(--color-1) !important;
        border-color: var(--color-1) !important;
    }
}

.btn-color-3 {
    @include base-button (var(--color-2), white, white);
    @include transition(all .5s ease);

    &:hover {
        color: white !important;
        background: var(--color-1) !important;
        border-color: var(--color-1) !important;
    }
}

.btn-color-4 {
    @include base-button (var(--color-2), var(--color-3), var(--color-3));
    @include transition(all .5s ease);

    &:hover {
        color: white !important;
        background: var(--color-1) !important;
        border-color: var(--color-1) !important;
    }
}

.btn-sm-1 {
    @include action-button (var(--color-1));
}

.btn-sm-2 {
    @include action-button (var(--color-2));
}

.btn-sm-3 {
    @include action-button (var(--color-4));
}

.action-button {
    color: var(--color-2) !important;
    font-weight: 500;
    border-radius: .75rem;
    margin: auto 0;
    display: inline-block;
    padding: .5rem .75rem;

    &[data-bg="gray"] {
        background: var(--color-3) !important;

        &:active,
        &.show  {
            border-color: var(--color-3) !important;
        }
    }

    &[data-bg="white"] {
        background: white !important;

        &:active,
        &.show  {
            border-color: white !important;
        }
    }

    i {
        pointer-events: none;
    }

    > label {
        color: var(--color-2) !important;
        border-radius: .75rem;
    }

    .btn-check:checked +.btn {
        background-color: white;
        border-color: white;
        box-shadow: 0 .05rem .10rem rgba(0,0,0,.05);
    }
}

/*------------------------------------------------------------------
[3.4 - Background]
*/
.covered {
    @include base-bg (cover);
}

.contained {
    @include base-bg (contain);
}

/*------------------------------------------------------------------
[3.5 - Badges]
*/
.badge-1 {
    @include base-badge (var(--color-1));
}

.badge-2 {
    @include base-badge (var(--color-2));
}

.badge-3 {
    @include base-badge (var(--color-4));
}

.badge-4 {
    @include base-badge (rgba(var(--color-2-rgb),.7));
}

/*------------------------------------------------------------------
[3.6 - Alert]
*/
.alert-1 {
    @include alert-style (var(--color-5), rgba(var(--color-5-rgb),.1));
}

.alert-2 {
    @include alert-style (var(--color-6), rgba(var(--color-6-rgb),.1));
}

.alert-3 {
    @include alert-style (var(--color-1), rgba(var(--color-1-rgb),.1));
}

/*------------------------------------------------------------------
[3.7 - Scroll]
*/
.scroll-light {
    overflow-y: overlay;

    &::-webkit-scrollbar {
        width: .5rem;

        &-track {
            background: #f1f1f1;
            border-radius: 1rem;
        }

        &-thumb {
            background: rgba(var(--color-2-rgb),.25);
            border-radius: .5rem;
        }
    }
}

.os-theme-dark {
    --os-handle-bg: rgba(var(--color-2-rgb),.25) !important;
    --os-handle-bg-hover: rgba(var(--color-2-rgb),.5) !important;
    --os-handle-bg-active: rgba(var(--color-2-rgb),.5) !important;
}

/*------------------------------------------------------------------
[3.8 - Dropdown]
*/
.dropdown-toggle::after {
    margin-left: .25rem;
    font-size: .8rem;
    font-family: "font awesome 6 free";
    font-weight: 600;
    content: "\f078";
    vertical-align: middle;
    border: 0;
}

.dropdown-menu {
    padding: .5rem;
    border-radius: 1rem;
    border: 0;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);

    &.file-dropdown {
        min-width: 100%;

        .dropdown-item {
            cursor: pointer;
        }
    }

    .dropdown-item {
        color: var(--color-2);
        padding: .5rem .75rem;
        @include transition(all .5s ease);

        &:hover {
            background: var(--color-3);
            border-radius: .25rem;
        }
    }
}

/*------------------------------------------------------------------
[3.9 - Dropzone]
*/
.dropzone {
    border: 0 !important;
    padding: 0 !important;
    color: var(--color-2);

    &-intro {
        padding: 8rem 0;
    }

    .dropdown-toggle::after {
        display: none;
    }

    h2 {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .upload-info-text {
        color: var(--color-2);
        font-weight: 300;
    }

    .dz-clickable {
        cursor: pointer !important;
    }

    &-scroll {
        min-height: 264px !important;
    }

    &-previews-inner {
        border-radius: 1rem;
        padding: 1.25rem;
        border: 2px solid var(--color-3);
    }

    .file-extension {
        height: 5rem;
        background: var(--color-3);
        border: 1px solid rgba(var(--color-1-rgb),.1);
        border-radius: 1rem;

        span {
            font-size: 1.25rem;
            font-weight: 800;
            color: var(--color-1);
            opacity: .25;
        }
    }

    .file-thumb {
        height: 5rem;
        border-radius: 1rem;
    }

    &-file-info {
        color: var(--color-2);

        .file-name {
            font-weight: 500;
        }

        .file-size {
            font-weight: 300;
        }
    }

    &-toolbar {
        i {
            color: rgba(var(--color-2-rgb),.75);
        }

        .dropzone-tools,
        .result-button {
            background: var(--color-3);
            border: 1px solid var(--color-3);
            border-radius: .5rem;
            padding: .5rem;
        }

        .dropzone-start,
        .dropzone-settings,
        .dropzone-delete,
        .result-button {
            cursor: pointer;
            @include transition(all .5s ease);
        }

        .dropzone-start,
        .dropzone-settings,
        .result-button:not(.clear-file) {
            &:hover i {
                color: var(--color-2);
            }
        }

        .dropzone-delete,
        .clear-file {
            &:hover i {
                color: var(--color-5) !important;
            }
        }

        .open-file {
            color: var(--color-2);
            font-size: .875rem;
            font-weight: 500;

            &:hover {
                color: white !important;
                background: var(--color-1) !important;
                border-color: var(--color-1) !important;
            }
        }
    }

    .progress {
        height: .25rem;

        &-bar {
            background: var(--color-1);
        }
    }

    &-process {
        color: var(--color-1);
    }

    &-error {
        color: var(--color-5);
    }

    &-success {
        color: var(--color-4);
    }

    ::-webkit-scrollbar {
        width: .5rem;
    
        &-track {
            background: #f1f1f1;
            border-radius: 1rem;
        }
    
        &-thumb {
            background: rgba(var(--color-2-rgb),.25);
            border-radius: .5rem;
        }
    }
}
