/*------------------------------------------------------------------
[8 - Pages]
*/
@import "pages/affiliate";
@import "pages/auth";
@import "pages/blog";
@import "pages/contact";
@import "pages/custom";
@import "pages/file";
@import "pages/home";
@import "pages/install";
@import "pages/notice";
@import "pages/pay";
@import "pages/pricing";
