/*------------------------------------------------------------------
[7.5 - Settings]
*/
.setting-tabs {
    .nav-link {
        color: var(--color-2);
        font-size: 1.125rem;
        text-align: center;
        border-radius: 1rem;
        padding: .75rem 1.75rem;
        
        &.active {
            color: var(--color-1);
            background: var(--color-3);
        }
    }
}

.img-container {
    background: var(--color-3);
    border-radius: 1rem;

    .covered {
        width: 140px;
        height: 140px;
        border-radius: 1rem;
    }

    .delete-photo {
        top: .5rem;
        left: .5rem;
        background: var(--color-1);
        border-radius: .5rem;
        cursor: pointer;

        i {
            color: white;
        }
    }
}
