/*------------------------------------------------------------------
[7.1 - Api]
*/
.api-card {
    p:not(.card-heading):not(.api-card-data) {
        color: var(--color-2);
        font-weight: 600;
    }

    &-data {
        color: var(--color-2);
    }

    pre {
        color: var(--color-2);
        font-size: 1rem;
    }
}
