/*------------------------------------------------------------------
[8.9 - Notice page]
*/
.notice-page {
    h2 {
        color: var(--color-1);
        font-size: 3rem;
        font-weight: 700;

        @media (max-width: $breakpoint-md) {
            font-size: 2.25rem;
        }
    }

    p {
        color: var(--color-2);
        font-size: 1.25rem;
    }

    .notice-image {
        height: 30rem;
        border-radius: 1rem;
    }
}
