/*------------------------------------------------------------------
[8.11 - Pricing page]
*/
.plan-card {
    .plan-name {
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--color-2);
    }

    .price {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1;
        color: var(--color-1);
    }

    .plan-features {
        li {
            color: var(--color-2);
        }
        
        i:not(.form-help) {
            color: var(--color-1);
        }
    }
}
